.App {
  text-align: center;
  background-color: white;
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: silver;
}

.App section {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.App section a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  min-height: 60px;
  color: silver;
  text-decoration: none;
  font-size: 20px;
}